body {
	line-height: 1.4;
	margin: 20px;
}
p {
	text-indent: 1em;
}
strong {
	color: rgb(255,40,0);
	text-decoration: underline;
}
header {
	border-bottom: 1px solid black;
	padding-bottom: 3px;
}
footer {
	border-top: 1px solid black;
	padding-top: 3px;
}
table {
	border: gray 1px solid;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}
table th {
	border: gray 1px solid;
	font: bold;
}
table td {
	border: gray 1px dashed;
}
pre {
	margin-left: 20px;
	margin-right: 20px;
	padding: 5px;
	border: gray 1px dashed;
	background: #f3f3f3;
	font-family: monospace;
}
dl {
	margin: 1em;
}
dl dt {
	font-weight: bold;
}
img {
	border: gray 1px dotted;
	padding: 3px;
}
blockquote {
	background: #eee;
	padding: 10px;
	border: dashed 1px #999;
}
blockquote[cite]:after {
	content: "引用元 " attr(cite);
	display: block;
	font-size: 80%;
	text-align: right;
	color: #777;
	margin-top: 1em;
}
h1 {
	padding: 0.3em;
	border-left: 7px solid rgb(0,128,128);
	border-bottom: 1px dashed rgb(0,128,128);
}
h2 {
	padding: 0.3em;
	border-left: 5px solid rgb(0,128,255);
}
h3 {
	padding: 0.3em;
	border-left: 3px solid rgb(255,128,64);
}